# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml
*.class

# Sistema
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Env files
.env